NODE_ENV=development
DATABASE_URL="postgresql://postgres:12345@localhost:5432/medi-store?schema=public"
PORT=5000
APP_URL=http://localhost:3000


APP_EMAIL_HOST=smtp.gmail.com
APP_EMAIL_PORT=587
APP_USER=rebakpi@gmail.com
APP_EMAIL_FROM="My App <rebakpi@gmail.com>"
APP_PASSWORD=evtx opsd xgdb abkk

JWT_ACCESS_SECRET=9f3c6a7d0b2e4a8f91c3e7a5d2b4c6f8
JWT_REFRESH_SECRET=5b8e2d4c9a1f7e6b3d0c8f4a2e9b6c1d
JWT_ACCESS_EXPIRES_IN= 7d
JWT_REFRESH_EXPIRES_IN=30d

BCRYPT_SALT_ROUNDS=12

SUPER_ADMIN_EMAIL=admin@gmail.com
SUPER_ADMIN_PASSWORD=Admin1234
AUTO_SEED_SUPER_ADMIN=true





